<section>
  <div class='container' style='margin-top: 22px'>
    <h2 class='title is-4 is-spaced'>Sign up</h2>

    <div class='columns'>
      <div class='column is-4'>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class='field'>
          <%= f.label :email, class: 'label' %>
          <%= f.email_field :email, class: 'input', autofocus: true, autocomplete: 'email' %>
        </div>

        <div class='field'>
          <%= f.label :password, class: 'label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'input', autocomplete: 'new-password' %>
        </div>

        <div class='field'>
          <%= f.label :password_confirmation, class: 'label' %>
          <%= f.password_field :password_confirmation, class: 'input', autocomplete: 'new-password' %>
        </div>

        <div class="help is-danger">
          <%= render 'devise/shared/error_messages', resource: resource %>
          <br />
        </div>

        <div class="actions">
          <%= f.submit 'Sign up', class:'button is-info' %>
        </div>
        <% end %>

        <br />
        <%= render 'devise/shared/links' %>

      </div>
    </div>
  </div>
</section>